/* This is the stylesheet for The Archive Room.  Copyright 2006 Sam Wilson. */


/* General */
.clear {clear:both}
/* General -- Forms */
form {border:1px solid black; padding:3px 1em; background-color:#ffe}
form div.subsection {clear: both; width: 100%}
form div.input {display: block; float: left; margin-top: 0.3em}
form label {font-size:0.9em}
form label:after {content: ": "}
form div.input input, form div.input textarea, form div.input select {
	display: block; width: 100%; text-align:center}
form input.readonly {color:grey}
form p.submit {text-align:center}
form p.submit input {margin-top:1em}
/* General -- Tables */
table {margin:1em auto; border-collapse:collapse; border:1px solid black}
table td, table th {border:1px dotted grey; padding:0.2em}
table th {border-bottom:1px solid black; background-color:#ffe}



/* Header */
#header {border-bottom:2px groove black; padding:0}
#header h1 {margin:0; padding:0}
#header p {margin:0; padding:0}
#logout_link {position:absolute; top:0; right:0; margin:0; padding:2px; font-size:0.8em}

/* Body */
#body {margin:1em}
#body h2 {text-align:center}
#body > p {line-height:1.2em; text-align:justify}
#body .error_message, #body .message {text-align:center; background-color:#fef; margin:1em 0}
#body .message { border:1px dashed green}
#body .error_message {border:1px dashed red}
#body .error_message strong {color:red}

/* Table of Contents */
#toc {margin:1em auto; width:70%}
#toc ol {list-style-type:none}
#toc li {float:left; width:32%; background-color:#dff; margin:1px; padding:1px;
	text-align:center}

/* Footer */
#footer {border-top:2px groove black; clear:both; text-align:center}
#footer ol {list-style-type:none; margin:0}
#footer ol li {display:inline; margin:2px 0.5em 2px 0.5em; font-size:0.8em; padding:2px}
#footer ol li:hover {background-color:#eee}